:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}

.text-brand{
    color: var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    border: 2px solid rgba(255, 255, 255, .1);
}

.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 var(--color-brand);
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* navbar */

.navbar{
    background-color: var(--color-base);
}

.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

.navbar .nav-link.active{
    color: var(--color-brand);
}

@media(min-width: 992px){
    .navbar{
        min-height: 100vh;
        width: var(--sidebar-width);
        /* background-image: ; */
        background: linear-gradient(rgba(3, 63, 71, 0.6), rgba(3, 63, 71, 0.6)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid var(--color-brand);
    }

    /* content Wapper  */

    #content-wapper{
        padding-left: var(--sidebar-width);
    }
}

/* BTN  */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}

.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom{
    position: relative;
    font-weight: 700;
}

.link-custom::after{
    content: "";
    width: 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 2px;
    background-color: var(--color-brand);
    top: 110%;
    transition: all 0.5s ease;
}

.link-custom:hover::after{
    width: 100%;
}

/* Work  */

.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.5s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}


/* contact */

#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}


#contact .form-control:focus{
    background-color: var(--color-brand);
    box-shadow: none;
    color: #000000;
}

#contact .form-control::placeholder{
    color: var(--color-body);
}

#contact input.form-control{
    height: 44px;
}


/* footer  */

.social-links{

}

.social-links a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 25px;
}